.new-addres{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.new-addres .content{
    width: 100%;
    padding: 96px;
    background: #228B22;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-addres .content section{
    margin-left: 0;
    margin-right: 200px;
    margin-bottom: 100px;
}

.new-addres .content img{
    padding-left: 100px;
}

.new-addres .content form button{
    border-radius: 8px;
}

.new-addres .content form input,
.new-addres .content form textarea{
    margin-top: 8px;
}